comercio.db
testeBibliteca.db
testebiblioteca.db
__pycache__/
env/
.env/
venv/
.venv/

# estes arquivos serão fornecidos pela biblioteca rodando o build.sh
comercio/modelos/endereco.py 
comercio/modelos/pessoa.py 
comercio/modelos/usuario.py
comercio/modelos/colaborador.py

.pytest_cache/